@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo 2", sans-serif;
}

html {
  scroll-behavior: smooth;
}

#inicio {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://t-hub.mx/storage/blog/77JSoBvBGARAVowHNqTk82hO2IF8Ln5GhPPBq5uQ.jpeg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.contenido header {
  background-color: blue;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
}

.contenido-header {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.contenido-header h1 {
  text-align: center;
  color: #fff;
}

.contenido-header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.contenido-header nav ul li a {
  text-decoration: none;
  color: #fff;
  margin: 0 12px;
  font-weight: 400;
  transition: 0.5s;
}

.contenido-header nav ul li a:hover {
  color: yellowgreen;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

#icono-nav {
  color: #d3d3d3;
  display: none;
}

#redes a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin-left: 10px;
  transition: 0.5s;
  font-size: 26px;
}

#redes a:hover {
  color: yellowgreen;
}

.contenido-header .seleccionado{
  color: yellowgreen;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

.bienvenida {
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.presentacion {
  max-width: 1100px;
  height: 100vh;
  margin: auto;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.presentacion h2 {
  font-size: 55px;
  margin-bottom: 25px;
  text-align: center;
}

.presentacion h2 span {
  font-size: 25px;
  letter-spacing: 4px;
  color: blue;
}

.presentacion a {
  text-decoration: none;
  display: inline-block;
  margin: 25px;
  border: 2px solid #fff;
  padding: 20px 25px;
  border-radius: 50px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.5s;
}

.presentacion a:hover {
  background: blue;
}

.descripcion {
  max-width: 700px;
  margin: 25px auto;
  font-size: 18px;
  text-align: center;
}

/* SECCION QUIEN SOY */
#quienSoy {
  max-width: 1100px;
  margin: auto;
  padding: 100px 15px;
  color: #111135;
  display: flex;
}

.contenedor-foto {
  max-width: 400px;
  margin-right: 80px;
}

.contenedor-foto img {
  padding: 20px;
  width: 100%;
  border: 2px solid blue;
  border-radius: 20px;
  box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}

.quienSoy {
  margin: 0 40px;
}

.quienSoy .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

.quienSoy h2 {
  font-size: 34px;
  font-weight: bold;
  margin: 20px 0;
  letter-spacing: 2px;
}

.quienSoy h2 span {
  color: blue;
}

.quienSoy h3 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.quienSoy p {
  font-size: 14px;
  line-height: 25px;
  color: #565656;
  margin-bottom: 12px;
}

.quienSoy a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 30px;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
}

.quienSoy a:hover {
  background: blue;
  color: #fff;
  border: none;
}

/* SECCION SERVICIOS */
#servicios {
  padding: 100px 15px;
  text-align: center;
  background-color: #f3f3f3;
}

#servicios .titulo-seccion {
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#servicios .fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1100px;
  margin: 30px auto;
}

#servicios .fila .servicio {
  max-width: 350px;
  background-color: #fff;
  padding: 30px;
  margin: 10px 5px;
  border-right: 5px;
  transition: 0.5s;
}

#servicios .fila .servicio:hover {
  box-shadow: 5px 5px 10px blue, -5px -5px 10px #8a8a8a;
}

#servicios .fila .servicio h4 {
  font-size: 22px;
  margin-bottom: 25px;
}

#servicios .fila .servicio .icono {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #d3d3d3;
  padding: 20px;
  margin-bottom: 25px;
}

#servicios .fila .servicio hr {
  width: 30%;
  margin: auto;
  color: #000;
  margin-bottom: 25px;
}

#servicios .fila .servicio ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#servicios .fila .servicio p {
  font-size: 14px;
  line-height: 22px;
}

/* SECCION HABILIDADES */
.contenedor-skills {
  background: linear-gradient(rgba(0, 0, 255, 0.8), rgba(33, 16, 16, 0.8)),
    url(https://t-hub.mx/storage/blog/77JSoBvBGARAVowHNqTk82hO2IF8Ln5GhPPBq5uQ.jpeg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding: 100px 0;
  text-align: center;
  color: #d3d3d3;
}

.contenedor-skills .skill {
  max-width: 600px;
  margin: 30px auto;
}
.contenedor-skills .skill .info {
  display: flex;
  justify-content: space-between;
}

.contenedor-skills .skill .lista {
  display: inline-block;
  margin-right: 20px;
  height: 10px;
  width: 10px;
  background-color: #fff;
}

.contenedor-skills .skill .barra {
  background-color: #919191;
  width: 100%;
  height: 6px;
  margin: 10px 0;
}

/* Este estilo se aplicara mediante JavaScript */
/* .contenedor-skills .skill .barra .barra-progreso1 {
  background-color: greenyellow;
  width: 95%;
  height: 6px;
  animation: progreso1 2% forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
  background-color: greenyellow;
  width: 90%;
  height: 6px;
  animation: progreso2 2% forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
  background-color: greenyellow;
  width: 80%;
  height: 6px;
  animation: progreso3 2% forwards;
} */

/* ANIMACIONES DE LAS BARRAS */
/* @keyframes progreso1 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes progreso2 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes progreso3 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
} */

.barra-progreso1,
.barra-progreso2,
.barra-progreso3 {
  height: 100%;
  width: 0;
  background-color: #4caf50;
  border-radius: 5px;
  transition: width 3s ease;
}

/* SECCION PROYECTOS */
#proyectos {
  max-width: 1100px;
  padding: 100px 0;
  margin: auto;
}

#proyectos .titulo-seccion {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #111135;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#proyectos .fila {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}

#proyectos .fila .proyecto {
  max-width: 350px;
  border: 1px solid #000;
  margin: 10px 0;
  position: relative;
  overflow: hidden;
}

#proyectos .fila .proyecto img {
  width: 100%;
  height: 100%;
  filter: grayscale(1);
  object-fit: cover;
  transition: 0.5s;
}

#proyectos .fila .proyecto:hover img {
  filter: grayscale(0);
}

#proyectos .fila .proyecto .info {
  position: absolute;
  left: 0;
  background-color: blue;
  color: #fff;
  width: 100%;
  padding: 10px;
  opacity: 0;
  bottom: -40px;
  transition: 0.5s;
}

#proyectos .fila .proyecto:hover .info {
  opacity: 1;
  bottom: 0;
}

/* SECCION CONTACTAME */
#contactame {
  padding: 100px 15px;
  background: linear-gradient(blue, rgba(33, 16, 16, 0.8)),
    url(/image/Envelopes-645x250.jpg);
  background-size: cover;
  padding: 100px 0;
  text-align: center;
}

#contactame .titulo-seccion {
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
  text-decoration-color: #d3d3d3;
  text-decoration-thickness: 5px;
}

#contactame .container-form {
  max-width: 1100px;
  margin: auto;
}

#contactame .container-form .fila {
  margin-bottom: 15px;
}

#contactame .container-form .mitad {
  display: flex;
  justify-content: space-between;
}

#contactame .container-form input,
#contactame .container-form textarea {
  padding: 20px;
  border-radius: 20px;
  border: none;
  border: 1px solid #919191;
}

#contactame .container-form .mitad input {
  width: 48%;
}

#contactame .container-form .input-full {
  width: 100%;
}

#contactame .btn-enviar {
  display: block;
  margin: auto;
  cursor: pointer;
  transition: 0.5s;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: bold;
}

#contactame .btn-enviar:hover {
  background-color: blue;
  color: #fff;
}

.error-message {
  color: red;
  margin: 15px;
  font-size: 22px;
}

.success-message {
  color: green;
  margin: 15px;
  font-size: 22px;
} 

/* SECCION FOOTER */
footer {
  background-color: rgba(0, 0, 255, 0.8);
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer a {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 5px;
  font-size: 26px;
}

/* SECCION RESPONSIVE */
@media screen and (max-width: 800px) {
  #redes {
    display: none;
  }
  #nav {
    display: none;
  }
  #nav.responsive {
    display: block;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    padding: 10px 0;
  }
  nav.responsive ul {
    display: block !important;
    text-align: center;
  }
  nav.responsive ul li {
    margin: 5px 0;
  }
  #icono-nav {
    display: inline-block;
  }
  #inicio .contenido .presentacion h2 {
    font-size: 40px;
  }
  #quienSoy {
    padding: 50px 0;
    display: block;
  }
  #quienSoy .contenedor-foto{
    max-width: 200px;
    margin: auto;
  }
  #quienSoy .contenedor-foto img{
    padding: 8px;
  }
  #quienSoy .quienSoy .titulo-seccion{
    text-align: center;
  }
  #quienSoy .quienSoy h2{
    font-size: 25px;
    text-align: center;
  }
  #servicios{
    padding: 50px 15px;
  }
  #servicios .fila{
    display: block;
  }
  #servicios .fila .servicio{
    margin: 10px auto;
  }
  .contenedor-skills{
    padding: 50px 20px;
  }
  #proyectos {
    padding: 50px;
  }
  #proyectos .fila{
    display: block;
  }
  #proyectos .fila .proyecto{
    margin: 10px auto;
  }
  #contactame{
    padding: 20px;
  }
}
